<library path="rqt_tutorial_1_publish_subscribe">
    <class name="rqt_tutorial_1_publish_subscribe/Dashboard" type="rqt_tutorial_1_publish_subscribe::Dashboard" base_class_type="rqt_gui_cpp::Plugin">
        <description>
      Blank
    </description>
        <qtgui>
            <group>
                <label>Visualization</label>
                <icon type="theme">folder</icon>
                <statustip>Plugins related to visualization.</statustip>
            </group>
            <label>rqt_tutorial_1</label>
            <icon type="theme">image-x-generic</icon>
            <statustip>A GUI plugin for viewing UGV telemetry data.</statustip>
        </qtgui>
    </class>
</library>
